.forecast-flax-wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    background: linear-gradient(180deg, transparent, hsla(0, 0%, 100%, 0.824));
  }
  
  .forecast-flax-wrapper::-webkit-scrollbar {
    display: none;
  }

  .forecast {
    width: 12%;
    flex: 3 0 auto;
  }
  
  .small-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f4f4f4;
    display: block;
    margin: 0 auto;
  }
  
  .gradient-overlay-small {
    border-radius: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background: linear-gradient(-25deg, transparent, rgba(255, 255, 255, 0.4));
    background-blend-mode: screen;
    z-index: 10;
  }
  
  .day-future {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.11px;
    color: #465866;
  }
  
  .temp-future {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.11px;
    padding-top: 6px;
    color: #465866;
    text-align: center;
    margin: 0;
  }
  
  .future-low-temp {
    font-weight: 400;
  }
  
  .condition-icon-small {
    position: relative;
    top: 50px;
    left: 58px;
    width: 60px;
    height: 60px;
  }
  
  @media (max-width: 1000px) {
    .small-circle {
      width: 90px;
      height: 90px;
    }
    .condition-icon-small {
      top: 60px;
      left: 50px;
    }
  }
  
  @media (max-width: 800px) {
    .small-circle {
      width: 60px;
      height: 60px;
    }
    .condition-icon-small {
      top: 36px;
      left: 32px;
      width: 30px;
      height: 30px;
    }
    .day-future {
      padding-top: 10px;
      margin: 0;
      font-size: 0.75rem;
    }
  
    .temp-future {
      font-size: 0.75rem;
      padding-top: 5px;
    }
  }
  
  @media (max-width: 675px) {
    .forecast-flax-wrapper {
      justify-content: left;
      -webkit-overflow-scrolling: touch;
      padding-left: 30px;
    }
  
    .forecast {
      width: 22%;
      flex: 0 0 auto;
    }
    .small-circle {
      width: 45px;
      height: 45px;
    }
    .condition-icon-small {
      top: 28px;
      left: 28px;
      width: 19px;
      height: 19px;
    }
    .day-future {
      padding-top: 8px;
      font-size: 0.75rem;
    }
  
    .temp-future {
      font-size: 0.75rem;
      padding-top: 5px;
      font-weight: 700;
    }
  }
  