.wrapper-welcome {
    width: 80%;
    top: 18em;
    position: relative;
    margin: 0 auto;
  }
  .align-welcome {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .welcome-circle {
    width: 294px;
    height: 294px;
    display: block;
    border-radius: 50%;
    background-image: linear-gradient(132deg, rgb(208, 230, 245) 0%, rgb(110, 181, 228) 100%);
  }
  
  .welcome-text {
    display: block;
    width: auto;
    height: 162px;
    z-index: 10;
    text-align: center;
    color: #465866;
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 62px;
    letter-spacing: -0.11px;
  }
  
  @media (max-width: 1000px) {
    .welcome-circle {
      width: 200px;
      height: 200px;
    }
  
    .welcome-text {
      font-size: 2rem;
      height: 122px;
    }
  }
  
  @media (max-width: 675px) {
    .wrapper-welcome {
      top: 12em;
    }
    .welcome-circle {
      width: 140px;
      height: 140px;
    }
  
    .welcome-text {
      font-size: 18px;
      height: 102px;
    }
  }
  